# Pandas in Python

![Pandas](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkKmkBqviJKR3yCj5F251eRodlrKmubG6ey7pJMGGLMs2CF23gBT_4QevLGRVUjcSXSkQ&usqp=CAU)

Pandas is a library that facilitates working with tables similar to Excel. The difference lies in Excel not being the ideal option for handling vast amounts of data. This is precisely where Pandas shines, enabling a variety of table-related operations on substantial datasets fast. The importance of Pandas cannot be overstated, as this library significantly contributes to the tremendous success of Python for data scientists.

The documentation can be found [here](https://pandas.pydata.org/docs/index.html), and numerous learning resources and tutorials are available on the internet. The following document provides a brief introduction to Pandas and showcases a few important commands.

Tables are referred to as dataframes, and after importing the library, a CSV file can be brought in and converted into a dataframe. For the sake of simplicity, we call the new dataframe "df."

The CSV file is located within the directory, representing the Flickr images we obtained from QGIS in the first lesson.

## Read CSV files

*Series*: “index” or "row"

*DataFrame*: “index” (axis=0, default), “columns” (axis=1)

[CSV reader](https://pandas.pydata.org/docs/user_guide/io.html#io-read-csv-table) documentation.

In [1]:
import pandas as pd

In [28]:
path = "/content/drive/MyDrive/Colab Notebooks/RC15 23 Excercises/Day 2/Excercise 02 - Pandas/Excercise 03 - Flickr.csv"

df = pd.read_csv(path, sep = ",")

df

,p_id,lat,lon,o_id,p_date,accuracy,title,tags,url
0,214028,51.504265,-0.078659,51035570500@N01,2003-05-24 17:40:38,16,"City Hall, London",london england normanfoster architecture geota...,https://live.staticflickr.com/1/214028_a96ba3e...
1,436102,51.505937,-0.082182,40385587@N00,2004-03-16 14:02:05,14,Angel. A Figurehead,london thames ship olympus c740 figurehead wys...,https://live.staticflickr.com/1/436102_7907e51...
2,436113,51.505323,-0.089650,40385587@N00,2004-03-16 14:04:28,14,Sign at London Bridge Station,signs london olympus lee c740 wysiwyg,https://live.staticflickr.com/1/436113_d87fc68...
3,459075,51.505062,-0.079017,98406434@N00,2004-06-27 00:00:00,16,London - City Hall looming,london towerbridge cityhall anyhoo photobyanyhoo,https://live.staticflickr.com/1/459075_44a6d3d...
4,459077,51.505062,-0.079017,98406434@N00,2004-06-27 00:00:00,16,London - City Hall reflection,reflection london thames cityhall anyhoo photo...,https://live.staticflickr.com/1/459077_74f6ecc...
...,...,...,...,...,...,...,...,...,...
89016,53282639969,51.505597,-0.083953,35234357@N04,2023-06-20 17:23:41,16,"Hays Galleria, London, 20th June 2023",20thjune june2023 london haysgalleria haysgall...,https://live.staticflickr.com/65535/5328263996...
89017,53282751605,51.504722,-0.081667,35234357@N04,2023-06-20 17:29:54,16,"Apart Together by Olivia Hylton, Part of the M...",20thjune june2023 london morph morphsculptures...,https://live.staticflickr.com/65535/5328275160...
89018,53283030331,51.505111,-0.089925,78364563@N00,2023-10-21 14:44:02,16,NaN,NaN,https://live.staticflickr.com/65535/5328303033...
89019,53283300699,51.505944,-0.088692,138177073@N04,2023-06-13 19:27:27,16,London,london england unitedkingdom,https://live.staticflickr.com/65535/5328330069...
89020,53283416775,51.505044,-0.078175,138177073@N04,2023-06-13 18:44:58,16,Tower of London,london england unitedkingdom,https://live.staticflickr.com/65535/5328341677...

##Accessing Data
You can access DataFrame data using familiar Python dict/list operations:

In [ ]:
# the first 4 rows
df.head(4)

# the last 4 rows
df.tail(4)

# the rows between 5000 and 5003
df[5000:5003]

# or just row 8567
df.iloc[8567]

In [ ]:
# extract a column as a list. in this case extract all titles
df["title"]

# get the title of row 40235
df["title"][40235]

'The Shard Opening 027'

As you can see, the syntax is very simlar to lists. Consider that there is an alternative way with `.loc` and `.iloc`. This is initial method and it might be faster in some cases.

In [ ]:
# .loc works when your first column has lables as index. Look here:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df1 = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df1)
print("*________*")
print(df1.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
*________*
calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
# .iloc works on the integer value of the row. that works always.

df.iloc[20:25]

df1.iloc[0]

calories    420
duration     50
Name: day1, dtype: int64

In [ ]:
# search for a specific entry like the Photo ID with the number "11869901163"

df.loc[df['p_id'] == 11869901163]

,p_id,lat,lon,o_id,p_date,accuracy,title,tags,url
49614,11869901163,51.505931,-0.078116,35234357@N04,2013-10-05 16:27:16,16,Barge on the Thames - Opposite the Tower of Lo...,london october2013 shipsandboats toweroflondon...,https://live.staticflickr.com/5486/11869901163...

##Descriptive statistics

[Descriptive statistics](https://pandas.pydata.org/docs/user_guide/basics.html#descriptive-statistics)

- Series: no axis argument needed
- DataFrame: “index” (axis=0, default), “columns” (axis=1)

In [ ]:
df["lat"].sum()

# df["lat"].describe()

## Data Types and Conversion

In [32]:
# What are the datatypes in the table?
df.dtypes

p_id         string
lat         float64
lon         float64
o_id         object
p_date       object
accuracy      int64
title        object
tags         object
url          object
dtype: object

In [33]:
# Convert one column from int to string
df = df.astype({'p_id': 'string'})
df.dtypes

p_id         string
lat         float64
lon         float64
o_id         object
p_date       object
accuracy      int64
title        object
tags         object
url          object
dtype: object

The trickiest part, which occurs frequently, involves managing dates and times. In its original form, a string like `2013-10-05 16:27:16` isn't automatically identified, necessitating a deliberate conversion of the object into a `datetime` object.

`pd.to_datetime` is the command, the documentation is [here](https://pandas.pydata.org/docs/user_guide/timeseries.html).

As you can see from the example below, the data is not always clean and the best is to delete it with `.drop() `

In [37]:
# Convert to 'p_date' > 'object' to 'datetime' to perform date operations

# pd.to_datetime(df['p_date'])

# df.iloc[53556]

# df = df.drop(53556)

df['p_date'] = pd.to_datetime(df['p_date'])

df.dtypes

p_id                string
lat                float64
lon                float64
o_id                object
p_date      datetime64[ns]
accuracy             int64
title               object
tags                object
url                 object
dtype: object

##Filter out data

In [ ]:
filtered_df = df.query("p_date >= '2004-03-01 00:00:00' and p_date < '2004-04-01 00:00:00'")

filtered_df = filtered_df.sort_values(by='p_date', ascending=True)

filtered_df

## Save out Data

[Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

In [43]:
path = "/content/drive/MyDrive/Colab Notebooks/RC15 23 Excercises/Day 2/Excercise 02 - Pandas/Filtered.csv"


filtered_df.to_csv(path_or_buf= path, header= True)